@model List<BudgetModel>
<div class="container">
	<div class="row">
		<div class="col-12">
			<h3 class="text-center">Budget Calculator</h3>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-12">
			<table class="table table-striped">
				<tr>
					<th>Description</th>
					<th>Value</th>
				</tr>
				@foreach (var budget in Model)
				{
					<tr>
						<td>@budget.Description</td>
						<td>@budget.Value</td>
					</tr>
				}
				
			</table>
		</div>
	</div>
</div>